@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

body{
    background-color: #DEEFE8;
}

main{
    background-color: #DEEFE7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #002333;
    width: 630px;
    padding: 10px;
    margin: auto;
}

h1{
    background-color: #002333;
    text-shadow: 5px 5px 5px #000000;
    color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
    padding: 10px;
    margin: auto;
    text-align: center;
}

h2{
    color: #002333;
    text-shadow: 1px 1px 3px #afafaf;
}

a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

a:hover{
    color: black;
    text-decoration: underline;
}