@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow:hidden;
}

body{
    background-color: #191A1C;
    margin-top: 4em;

}

main{
    max-width: fit-content;
    background-color: #DEEFE7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7c75a3;
    padding: 15px;
    margin: auto;
    width: 500px;
}

h1{
    max-width: fit-content;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #571519;
    text-shadow: 5px 5px 5px #000000;
    color: white;
    width: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #103c50;
    padding: 10px;
    margin: auto;
}

h2{
    padding-right: 1em;
    padding-left: 1em;
    color: #14423c;
    text-shadow: 1px 1px 0px #439186;
    font-weight: bold;
}

div{
    padding-left: 2em;
    padding-right: 1em;
}

p{
    text-indent: 1.3em;
}

a{
    
    padding-left: 0.2em;
    text-decoration: none;
    color: #97252d;
    font-weight: bold;
}

a:hover{
    color: black;
    text-decoration: underline;
}